/* src/app/app.css */

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.app-main {
  flex-grow: 1;
  overflow-y: auto; /* Allow content to scroll */
  padding: 2rem;
  width: 100%;
}
